@font-face {
	font-family: 'Roboto';
	src: url('../fonts/') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

html {
	box-sizing: border-box;
	height: 100%;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	height: 100%;
	font-family: 'Roboto', 'Arial', sans-serif;
	color: #4a5568;
	font-size: 16px;
	margin: 0;
	padding: 0;
	line-height: normal;
	font-weight: 400;
}

*:focus {
	outline: 2px dotted #04c35c;
	outline-offset: 3px;
}

/* CONTAINER */
.login-bg-wrapper {
	width: 100%;
	max-width: 1140px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

.login-bg {
	width: 50%;
	height: 100vh;
	background-image: url(../img/login-bg.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.login {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 50%;
	height: 100vh;
}

form {
	max-width: 350px;
	width: 100%;
}

.form-title {
	margin-bottom: 2px;
	margin-top: 0;
}

.form-h1 {
	margin-top: 0;
	margin-bottom: 24px;
	color: #1a202c;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.form-wrapper {
	margin-bottom: 27px;
}

label {
	display: block;
	margin-bottom: 11px;
	color: #4a5568;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

input {
	display: inline-block;
	padding-top: 17px;
	padding-bottom: 17px;
	padding-left: 20px;
	border: 0;
	border-color: transparent;
	border-radius: 5px;
	border: 1px solid #e8e8e8;
	width: 100%;
	margin-bottom: 11px;
}

input[placeholder] {
	color: #2d3748;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.radio-wrapper {
	display: flex;
	align-items: center;
}

.radio-wrapper div {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: auto;
}

input[type='radio'] {
	display: inline-block;
	margin-right: 11px;
	width: 15px;
	height: 15px;
}

.radio-label {
	display: inline-block;
	color: #2d3748;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.radio-wrapper span {
	color: #2c5282;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

button {
	display: block;
	width: 100%;
	border: none;
	padding: 16px 0;
	cursor: pointer;
	border-radius: 5px;
	background-color: #04c35c;
	color: #fff;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 15px;
}

a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border: none;
	padding: 16px 0;
	cursor: pointer;
	border-radius: 5px;
	background-color: #2d3748;
	color: #fff;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 15px;
	text-decoration: none;
	margin-bottom: 100px;
}

a img {
	margin-right: 12px;
}

.description {
	color: #616161;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.description span {
	color: #2b6cb0;
}
